<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>{{name}}</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>{{name}}</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/heroes']">Héros</a>
            <a class="mdl-navigation__link" [routerLink]="['/items']">Items</a>
            <a class="mdl-navigation__link" [routerLink]="['/spells']">Spells</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <!-- Your content goes here -->
         <router-outlet></router-outlet>
      </mdl-layout-content>
   </mdl-layout>
</div>
