<h1>Objet</h1>
<div>
  <mdl-list *ngFor="let item of data">
    <mdl-list-item lines="3">
      <mdl-list-item-primary-content> <div style="float:left;"><img  src="/app/img/ressource/type{{item.Type}}.png" /></div>
       
        <span> {{item.Nom}}</span>
        <mdl-list-item-text-body>
          {{item.Effet}}
        </mdl-list-item-text-body>
      </mdl-list-item-primary-content>
      <mdl-list-item-secondary-content>
        <span>
    <img  src="/app/img/ressource/str.png" /> {{item.Force}}   
    <img  src="/app/img/ressource/dex.png" /> {{item.Dexterite}}   
    <img  src="/app/img/ressource/int.png" />{{item.Intelligence}}  
    <img  src="/app/img/ressource/vita.png" /> {{item.Vitalite}}
   </span>
        <img class="button" mdl-ripple src="/app/img/ressource/delete.png" id='{{item.IdEqui}}' (click)="delete($event)" />

      </mdl-list-item-secondary-content>
    </mdl-list-item>
    <div style="background-color: #828282 ; height: 1px"></div>
  </mdl-list>



  <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="showDialog($event)">Ajouter un objet</button>
  <dialog-outlet></dialog-outlet>
</div>